<p><%= @resource.email %> 様</p>

<p>パスワードが変更されたことをお知らせいたします。</p>

<p>この変更に心当たりがない場合は、すぐにパスワードをリセットしてください。</p>
<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>
