<p><%= @resource.email %> 様</p>

<p>パスワードの変更リクエストがありました。</p>

<p>以下のリンクをクリックしてパスワードをリセットしてください。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに心当たりがない場合は、このメールは無視してください。</p>
